<div class="content" role="main">

    <!-- Resources -->
    <h2>View MIS Dashboard Report</h2>
</div>

<div id="exampleInputData">
    <div class="container" style="padding-left: 0px;max-width: 1200px;">
        <div class="row">
            <div class="col-lg-6 pl-3" style="text-align: left;">
            </div>
            <div class="col-lg-4  pl-3" style="text-align: left;">
            </div>
            <div class="col-lg-2  pl-3" style="text-align: left;">
                <div class="form-group mb-1 mt-5">
                    <a rel="noopener" (click)="NavigateToUserTracker()">
                        <span style="padding-left: 15px; cursor: pointer !important;font-size: 17px;color: #c62b5d;">
                            << Back </span></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 pt-3 pb-3" style="text-align: center;">
                <div class="grid-item" id="container4"></div>
            </div>
            <div class="col-lg-12 pt-3 pb-3" style="text-align: center;">
                <div class="grid-item" id="container2"></div>
            </div>
            <div class="col-lg-12 pt-3 pb-3" style="text-align: center;">
                <div class="grid-item" id="container1"></div>
            </div>
            <div class="col-lg-12 pt-3 pb-3" style="text-align: center;">
                <div class="grid-item" id="container3"></div>
            </div>
            <div class="col-lg-12 pt-3 pb-3" style="text-align: center;">
                <div class="grid-item" id="container5"></div>
            </div>
        </div>
    </div>