.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 280px 280px;
    grid-gap: 10px;
    padding: 10px;
    min-width: 40%;
    min-height: 60%;
  }
 
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    //border: 1px solid rgba(0, 0, 0, 0.8);
    //padding: 20px;
    text-align: center;
    min-width: 20%;
    min-height: 20%;
  }

  .highcharts-credits {
    display: none !important;
  }

  