<div class="content" role="main">
  <!-- Resources -->
  <h2 style="margin: 30px 0 !important;">MIS Dashboard - UK & I-INS</h2>
  <div class="card-container"> </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align: right;">
        <a style="padding-right: 25px;" (click)="navigateToReport()">
          <span style="cursor: pointer">
            View MIS Report </span>
        </a>
        <a (click)="downloadData()" style="cursor: pointer;">
          <span>Download - All Accounts</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 badge badge-outline-dark pl-3" style="text-align: left;">
        <div class="form-group mb-1 mt-3">
          <label for="exampleInput">Filter by AccountId/AccountName</label>
          <input type="text" [(ngModel)]="searchText" class="form-control" id="exampleInput"
            aria-describedby="emailHelp" placeholder="Enter AccountId or AccountName">
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div
      *ngFor="let account of accountMasterData | grdFilter: {AccountId: searchText, AccountName:searchText}; let i = index">
      <a class="card" (click)="navigateAccountDetails(account.AccountId)" rel="noopener">
        <img width="50" alt="{{account.AccountName}}" src="{{baseApplicationUrl}}empty-Image.jpg" />
        <div class="text-center">
          <span style="padding-left: 15px;">{{account.AccountName}}</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </div>
      </a>
    </div>
  </div>